/* ------------------ *
 *      Archives      *
 * ------------------ */

.archive .post {
  @include bp(medium) {
    @include span-columns(6);
    &:nth-child(2n+3) {
      margin-right: 0;
    }
  }
}

.archive article:nth-child(2n+3) {
  margin-right: 0;
}

.page__header .page__title--category {
  border: 0;
  text-align: center;
  color: $base;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  span {
    color: white;
  }
}

.page__header {
  div {
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.3);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
  img {
    margin-bottom: -2px;
  }
}
