/* ------------------ *
 *      Archives      *
 * ------------------ */

.archive .post {
  @include bp(medium) {
    @include span-columns(6);
    &:nth-child(2n+3) {
      margin-right: 0;
    }
  }
}

.archive article:nth-child(2n+3) {
  margin-right: 0;
}



//Category Header
.page__title--category {
  //border: 2px solid $highlight;
  border: none;
  //background: $tertiary;
  color: $base;
  width: 100%;
  text-align: center;
  //height: 250px;
  //line-height: 250px;
  //margin-bottom: .5em;
  @include bp(medium) {
    //height: 307px;
    //line-height: 307px;
  }
}
