/* ------------------ *
 *         BTN        *
 * ------------------ */

.btn {
  border:none;
  -webkit-appearance: none;
  background: none;
  font-family: $body;
  font-size: 100%;
  &:hover {
    cursor: pointer;
  }
  &:active, &:focus {
    outline: none;
  }
}
