/* ------------------ *
 *     COMMENTS      *
 * ------------------ */

#comments {
  @extend %clearfix;
  width: 100%;
  float: left;
  p:last-child {
    margin-bottom: 0;
  }
}

.comments__title {
  font-weight: bold;
  font-size: 1.5em;
  margin-bottom: .5em;
}

.comment-list {
  a {
    text-decoration: underline;
  }
}

.comment-body {
  @extend %clearfix;
    padding: 1em;
    margin-bottom: 1em;
    border: 2px solid $secondary;
}

.commentmetadata {
  margin-bottom: 1em;
  float: left;
  @include bp(medium) {
    float: right;
  }
}

.commentmetadata a {
  color: $base;
  text-decoration: none;
  cursor: default;
}

.comment-author {
  margin-right: .5em;
  float: left;
  width: 100%;
  margin-bottom: .5em;
  @include bp(medium) {
    width: auto;
  }
}

.comment-author cite {
  font-weight: bold;
  a:hover {
    color: $tertiary;
  }
}

.comment-reply-title {
  font-weight: bold;
  font-size: 1.5em;
  margin-bottom: .5em;
}

.comment-body p {
  float: left;
  width: 100%;
}

.comment-respond, .comment-form{
  float: left;
  width: 100%;
}

//Comment Form
.comment-form {
  margin-bottom: 0;
}

.comment-form input, .comment-form textarea {
  background: white;
  width: 100%;
  border: 2px solid $secondary;
  outline: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  border-radius: 0;
  padding: .5em;
  font-family: $body;
  font-size: 1em;
}

.comment-form textarea {
  border-radius: 0;
  box-shadow: none;
  -moz-box-shadow: none;
  height: 300px;
  overflow: auto;
  resize: none;
  line-height: 1.4;
}

.comment-form input:focus, .comment-form textarea:focus {
  outline: none!important;
  box-shadow: 0;
}

.comment-respond label, .form-submit input {
  font-family: $body;
  color: $base;
}

.form-submit {
  margin-bottom: 0!important;
}

.form-submit input {
  border-radius: 0;
  border: none;
  text-transform: capitalize;
  color: $base;
  background: $secondary;
  padding: .5em;
  @include bp(medium) {
    max-width: 10em;
  }
}

.form-submit input:hover {
  background: $tertiary;
  color: white;
  cursor: pointer;
}

.comment-edit-link {
  text-decoration: underline!important;
  color: $tertiary!important;
  cursor: pointer!important;
  &:hover {
    color: $base!important;
  }
}

//Post Author Special Styling
.bypostauthor .comment-body {
  border-color: $tertiary;
}

//Remove These Fields
.comment-form-url, .reply-title {
  //display: none;
}
