/* ---------------------- *
 *   Explore Navigation  *
 * ---------------------- */

.btn--explore {
  padding: .25em .5em;
  @include span-columns(12);
  background: $base!important;
  margin-top: .5em;
  margin-bottom: 1em;
  color: white;
  &:before {
    font-family: 'icons'!important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    content: "\e904";
    margin-right: .5em;
  }
  &:hover {
    background: $tertiary!important;
    color: white;
  }
}

.touchevents .btn--explore:hover {
  background: $base!important;
}

 .overlay--nav {
   position: absolute;
   top: 0;
   left: 0;
   right: 0;
   bottom: 0;
   background: rgba(255,255,255,.4);
   z-index: 99;
   opacity: 0;
   visibility: hidden;
 }

.open--nav {
  overflow: hidden;
}

 .open--nav .overlay--nav {
   opacity: 1;
   visibility: visible;
 }

 .open--nav .canvas {
   transform: translate3d(75%,0,0);
   @include bp(medium) {
     transform: translate3d(25%,0,0);
   }
 }

.open--nav .explore-nav li a {
  background: rgba(0,0,0,.3);
}

.explore-nav {
   z-index: 0;
   position: fixed;
   top: 0;
   left: 0;
   width: 75%;
   height: 100%;
   visibility: hidden;
   @include bp(medium) {
      left: 0;
      width: 25%;
   }
   ul {
     position: relative;
   }
   li {
     position: relative;
     background-size: cover;
     background-position: center center;
     display: block;
     text-align: center;
     height: 25vh;
   }
   a {
     position: absolute;
     height: 100%;
     width: 100%;
     top: 0;
     left: 0;
     right: 0;
     bottom: 0;
     color: white;
     background: rgba(0,0,0,.3);
     line-height: 25vh;
   }
 }

.open--nav .explore-nav {
  visibility: visible;
}

.explore-nav a:hover {
  background: rgba(0,0,0,.15)!important;
}

 .btn--close {
   font-size: 1.25em!important;
   color: white;
   position: absolute;
   top: .5em;
   right: .25em;
   z-index: 99;
 }
