/* ------- *
 *  FOOTER  *
 * ------- */

.footer {
  height: 5em!important;
  text-align: center;
  @include span-columns(12);
  background: $base;
  color: white;
  position: relative;
  margin: 0 -1em;
  width: 100%;
}

.footer__colophon {
    line-height: 5em;
}
