/* ------------------ *
 *       Home         *
 * ------------------ */

.home--page1 .post:first-child {
  @include span-columns(12);
}

.home--page1 .post {
  @include bp(medium) {
    @include span-columns(6);
    &:nth-child(2n+3) {
      margin-right: 0;
    }
  }
}

.paged article {
  @include omega(2n);
}
 .search-results article:nth-child(2n+3) {
  margin-right: 0;
 }

//1st Post specific styles
.home--page1  .post:first-child {
  .post__title {
    @include bp(medium) {
      font-size: 2.5em;
      line-height: 1.1;
    }
  }
  .post__category {
    @include bp(medium) {
      font-size: 1.25em;
    }
  }
  .post__header {
    position: relative;
    &:after{
      content: "Featured";
      font-weight: bold;
      display: inline-block;
      padding: 1em;
      background: white;
      float: right;
      position: absolute;
      right: 0;
      top: 0;
    }
  }
}
