/* ------- *
 *   MENU  *
 * ------- */

.header {
  width: 100%;
  @include bp(medium) {
    @include span-columns(3);
     transform: translate3d(0,0,0);
     z-index:1;
     top: 1em;
     left: 1em;
  }
  a {
    text-decoration: none;
  }
}

.logo {
  @extend %clearfix;
  height: 200px;
  text-align: center;
  line-height: 200px;
  border: 1px solid $base;
  margin-bottom: .5em;
  font-size: 2em;
  font-weight: bold;
  color: $base;
}

.nav {
  @include bp(medium) {
  }
  li {
    margin-bottom: .5em;
    @include span-columns(6);
    @include omega(2n);
    text-align: center;
  }
  a {
    text-decoration: none;
    color: $base;
  }
}
