/* ------- *
 *   MENU  *
 * ------- */

.header {
  background: gray;
  flex: 1 100%;
  @include bp(medium) {
    flex: 1 25%;
  }
}

.logo {

}

.nav {
  @include bp(medium) {
    position: fixed;
  }


}
