/* ------- *
 *   MENU  *
 * ------- */

.header {
  @include span-columns(12);
  @include bp(medium) {
    @include span-columns(3);
  }
  a {
    text-decoration: none;
  }
}

.logo {
  @extend %clearfix;
  height: 200px;
  text-align: center;
  line-height: 200px;
  border: 1px solid $base;
  margin-bottom: .5em;
  font-size: 2em;
  font-weight: bold;
  color: $base;
}

.nav {
  li {
    margin-bottom: .5em;
  }
  a {
    text-decoration: none;
    color: $base;
  }
}
