/* ------------------ *
 *      PAGE-NAV      *
 * ------------------ */

.page-nav {
  width: 100%;
  float: left;
}

.btn-pagination, .touch .btn-pagination:hover {
}

.btn-pagination:hover {
}

.btn-pagination--prev {
  float: right;
  background: $secondary;
  padding: .5em;
  text-transform: capitalize;
}

.btn-pagination--next {
  float: left;
  background: $secondary;
  padding: .5em;
  text-transform: capitalize;
}
