/* ------------------ *
 *      PAGE-NAV      *
 * ------------------ */

.page-nav {
  width: 100%;
  float: left;
  a {
    background: $secondary;
    padding: .5em;
    text-transform: capitalize;
    &:hover {
      background: $base;
      color: white;
    }
  }
}

.btn-pagination--prev {
  float: right;
}

.btn-pagination--next {
  float: left;
}
