/* ------------------ *
 *        POSTS       *
 * ------------------ */

//General Post Styling
.post {
  margin-bottom: 2em;
  @include bp(medium) {
    @include span-columns(6);
  }
}

.post p {
  line-height: 1.4;
}

.post__category {
  margin: .25em 0 .5em;
}

.post__category a {
  text-decoration: underline;
  color: $tertiary;
  &:hover {
    color: $base;
  }
}

.post__header {
  @include span-columns(12);
  margin: 1em 0 1em 0;
}

.post__title {
  display: inline-block;
  font-weight: bold;
  font-size: 1.25em;
}
