/* ------------------ *
 *      SEARCH       *
 * ------------------ */

.search__container {
  z-index: 2;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  opacity: 0;
  visibility: hidden;
}

.open--search {
  overflow: hidden;
}

.open--search .search__container {
  opacity: 1;
  visibility: visible;
}

.search__overlay {
  position: relative;
  background: $secondary;
  height: 100%;
}

.search__form {
  margin: 0 auto;
  padding: 1em;
  display: inline-block;
  position: absolute;
  z-index: 99;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  @include bp(medium) {
    width: 75%;
  }
  @include bp(large) {
    width: 50%;
  }
}

.search__form__field {
  width: 100%;
  z-index: 999;
  border-bottom: 2px solid $base;
  border-left: none;
  border-right: none;
  border-top: none;
  outline: 0;
  background: none;
  font-family: $body;
  font-size: 1.5em;
  appearance: none;
  -webkit-appearance:none;
}
.search__from__submit {
  @include span-columns(2);
  @include omega();
}

.btn--close--search {
  font-size: 1.5em!important;
  color: $base;
  position: absolute;
  top: 1em;
  right: .35em;
  z-index: 99;
}
