/* ------------------ *
 *      SINGLE       *
 * ------------------ */

.single .post {
  @include bp(medium) {
    @include span-columns(12);
  }
}

.single .post__title {
  font-size: 2.5em;
  line-height: 1.1;
  width: 100%;
  @include bp(medium) {
    @include span-columns(9);
  }
}

.single .post__category {
  @include bp(medium) {
    font-size: 1.25em;
  }
  a {
    color: $tertiary;
    &:hover {
      color: $base;
    }
  }
}

.single .post__info {
  clear: both;
  width: 100%;
  @extend %clearfix;
}

.single .post__comments {
  float: left;
  margin: 1em 0;
  a {
    display: inline-block;
    text-align: center;
    background: $secondary;
    padding: 1em;
    color: $base;
    &:hover {
      background: $tertiary;
      color: white;
    }
  }
  @include bp(medium) {
    float: right;
    margin: 0;
  }
}

.single .post__tags {
  @extend %clearfix;
  margin-top: 2em;
  margin-bottom: -.5em;
  a {
    float: left;
    background: $secondary;
    padding: .5em;
    margin-right: .5em;
    margin-bottom: .5em;
    &:hover {
      background: $tertiary;
      color: white;
    }
  }
}

//Misc Single Styling & Formatting
.single .post__content strong, .page .post__content strong {
  font-weight: bold;
}

.single .post__content del, .page .post__content del {
  color: $tertiary;
}
