/* ------------ *
 *  Animations  *
 * ------------ */

.canvas, .explore-nav li a, .search__overlay, .btn, .post-categories a, .read-more, .post__comments a, .form-submit input, .footer__social a, .post__tags a, .post__content p a, .comment-edit-link, .comment-respond a, .comment-author cite a, .nav a {
  transition: all .2s;
}

//Menu Transition
.explore-nav {
  -webkit-transition: all 0.1s;
  transition: all 0.1s;
}

.open--nav .explore-nav {
  -webkit-transition: -webkit-transform 0.35s;
  transition: transform 0.35s;
}

.wrapper {
  transition: all .35s;
  opacity: 1;
  @include bp(medium) {
    opacity: 0;
  }
}

.pace-done .wrapper {
  opacity: 1;
}

.pace {
  -webkit-pointer-events: none;
  pointer-events: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.pace-inactive {
  display: none;
}

.pace .pace-progress {
  background: $tertiary;
  position: fixed;
  z-index: 2000;
  top: 0;
  right: 100%;
  width: 100%;
  height: 6px;
}
