/* ------- *
 *  LISTS  *
 * ------- */

.post__content ul {
  margin-bottom: 1.45em;
  list-style-type: disc;
  list-style-position: inside;
}

.post__content ol {
  margin-bottom: 1.45em;
  list-style-type: decimal;
  list-style-position: inside;
}

.post__content li {
  margin-bottom: .5em;
  line-height: 1.45;
}
