/* ------- *
 *   Main  *
 * ------- */

.canvas {
  width: 100%;
  height: 100%;
  min-height: 100vh;
  margin: 0 auto;
  padding: 1em 1em 0 1em;
  background: white;
  @extend %clearfix;
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
  -webkit-backface-visibility: hidden; /* Prevents flickering, may be removed if experiencing problems with fixed background images in Chrome. */
  @include bp(large) {
    padding: 1em 5% 0 5%;
  }
  @include bp(extra-large) {
    padding: 1em 10% 0 10%;
  }
}

.wrapper {
  margin: 0 auto;
  @extend %clearfix;
  overflow: hidden;
  width: 100%;
  height: 100%;
}

.main {
  margin: 0 0 2em 0;
  @include span-columns(12);
  @include bp(medium) {
    min-height: calc(100vh - 8em);
    @include span-columns(9);
    @include omega();
  }
}
