/* ------- *
 *   Main  *
 * ------- */
body {
  background: $secondary;

}

.container {
  @extend %clearfix;
  margin: 0 auto;
  padding: 1em;
  max-width: 1200px;
  background: white;
}

.main {
  @include bp(medium) {

  }
}
